.Buttons {
  margin: 50px auto;
  padding: 0;
  width: 80%;
  max-width: 500px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.Buttons li {
  width: 30%;
  margin: 10px 0;
}
.Buttons li input {
  width: 100%;
  aspect-ratio: 3/1;
  font-size: 3vw;
  cursor: pointer;
}