.end{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  &.active{
    display: flex;
    background-color: rgba(0,0,0,0.3);
    p{
      font-size: 40px;
      color: red;
    }
    button{
      width: 200px;
      height: 100px;
      border-radius: 999px;
      font-size: 20px;
      cursor: pointer;
    }
  }
}
