.input_component {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input_component .user_answer {
  padding: 0;
  margin: 0;
  display: flex;
  width: 80%;
  max-width: 500px;
  justify-content: space-evenly;
}
.input_component .user_answer li {
  cursor: pointer;
  padding: 10px;
  font-size: min(10vw, 100px);
  border: solid 2px orange;
}
.input_component .user_answer li.on {
  border: solid 2px aqua;
}